body{ 
    background-image: url(https://i.pinimg.com/550x/40/d5/3e/40d53e76898c8615dd8121a662702415.jpg);
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
}
